body{
height:100vh;
margin:0;
background: url("Paping.jpg") no-repeat center;
background-size:contain;
background-color:pink;
}
    .heading{
    text-align:center;
    background-color: rgba(216, 112, 147, 50%); 
    max-width:500px;
    max-height:50px;
    margin:auto;
    margin-top:127px;
    margin-bottom:30px;
    }
    .text{
    text-align:center;
    font-family:"Fantasy","Papyrus";
    }
    .question{
    margin-top:40px;
    text-decoration-line:underline;
    }
        .Boxes{
            position:relative;
            left:50vh;
            top:15vh;
        }
        .yesBox{
            position:absolute;
            height:50%;
            left:21%
        }
        .noBox{
            z-index: 1;
            position: absolute;
            height:50%;
            left:25%;
        }
        label{
            font-family:"Fantasy","Papyrus";
        }
        input[type="checkbox"]{
            -webkit-appearance: initial;
            appearance: initial;
            background: rgba(129, 1, 88, 70%);
            width: 12px;
            height: 12px;
            border: none;
            position: relative;
        }
        input[type="checkbox"]:checked {
            background: red;
        }
        input[type="checkbox"]:checked:after {
            /* Heres your symbol replacement */
            content: "X";
            color: #000000;
            /* The following positions my tick in the center, 
             * but you could just overlay the entire box
             * with a full after element with a background if you want to */
           /* position: absolute;*/
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }